@font-face {
  font-family: "Merienda-Regular";
  src: url(/fonts/Merienda-Regular.ttf) format("truetype");
}
body {
  background: url(/img/blurred-background.jpg);
  background-size: cover;
  font-family: cursive;
  font-family: Merienda-Regular;

  font-weight: bold;
}
.container {
  background-color: rgba(255, 255, 255, 0.336);
  height: 800px;
  margin-top: 25px;
  border-radius: 15px;
}
.left-side {
  font-size: 30px;
}
.right-side {
  background: url(/img/blurred-background.jpg);
  background-size: cover;
  width: 150px;
  height: 40px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition-duration: 0.5s;
}
.right-side:hover {
  transform: scale(1.1);
}
.right-side > a {
  color: black;
  text-decoration: none;
}
.navbar {
  display: flex;
}
